body {
  font-family: "Roboto Slab", serif;
}
h1 {
  text-align: center;
  color: rgb(0, 0, 179);
  font-size: 40px;
}

h2 {
  color: rgb(50, 16, 82);
  margin-top: 40px;
  text-align: center;
}

h3 {
  margin-top: 40px;
}
form {
  text-align: center;
}
ul {
  list-style: none;
  text-align: center;
  padding: 0;
  font-weight: bolder;
}
img {
  width: 50px;
}
button {
  background-color: rgb(63, 255, 76);
  padding: 5px 10px;
}
.Weather {
  border-radius: 16px;
  box-shadow: 10px 10px 10px 10px rgb(88, 151, 172);
  padding: 40px;
  background-image: linear-gradient(to top, #dcdbee 0%, #897fe8 100%);
  margin: 30px 300px 0px 300px;
}

button,
.submit,
.search {
  border-radius: 20px;
  border: 1px solid rgb(121, 91, 51);
  font-size: 20px;
  font-weight: 700;
  color: rgb(121, 91, 51);
  margin-top: 10px;
}
.submit {
  background-color: rgb(219, 185, 251);
  padding: 5px 13px;
}
button,
.submit {
  box-shadow: 1px 3px 3px 3px rgb(113, 79, 194);
}
.search {
  padding-left: 10px;
}

.today-temp {
  font-size: 40px;
  margin-bottom: 10px;
}
.other-days {
  color: rgb(46, 45, 126);
  font-size: 10px;
}

.today-day,
.location {
  font-size: 30px;
}
.otherday-temp {
  font-size: 25px;
}
.other-day {
  font-size: 15px;
}
.material-icons {
  font-size: 40px;
  color: #0c3d87;
}
.humidityGeneral,
.windGeneral {
  font-size: 15px;
}
.windGeneral {
  margin-bottom: 20px;
}
.author {
  font-size: 13px;
  margin-bottom: 0px;
  margin-top: 50px;
  text-align: center;
}
